.container{
  width: 80%;
  margin: auto;
}
header{
  background-color: blueviolet;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.logo{
  font-size: 70px;
}
a{
  margin: 30px;
  text-decoration:none;
  color: black;
  font-size: 30px;
  border: 2px solid black;
  background-color: orchid;
  padding: 3px;
  border-radius: 10px;
}
.body-wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.footer{
  height:80px;
  background-color: blueviolet;
  padding: 40px;
  font-size: 20px;
  font-style: italic;
}